<app-header></app-header>

<main class="green lighten-4">
  <div class="row">
    <div class="col s10 offset-s1">
      <h1>Deine erste Anlage</h1>

      <div class="selection row">
        <div class="col s5">
          <div class="center-align pointer">
            <i class="material-icons large">camera</i>
            <h2>Daten der Rechnung scannen</h2>
          </div>
        </div>
        <div class="col s5 offset-s1">
          <div class="center-align pointer">
            <i class="material-icons large">fingerprint</i>
            <h2>MaStR anfragen</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
